<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/resemblance.html">
<div layout:fragment="folders">
    <button type="button" class="btn btn-light btn-xl fw-bold" data-bs-toggle="modal" data-bs-target="#addFolderModal">+ New Folder</button>
    <div class="card mt-4" th:each="folder : ${folders}">
        <form th:action="@{'/delete-folder'}" method="post" class="card-header p-0 text-end">
            <input hidden name="folder_id" th:value="${folder.getId()}">
            <button type="submit" class="btn btn-light btn-sm"><img src="/trash-icon.png"></button>
        </form>
        <div class="card-body">
            <h5 class="card-title" th:text="${folder.getName()}"></h5>
            <a th:href="@{'/details-folder/' + ${folder.getId()}}" class="btn btn-primary mt-3">Details</a>
        </div>
    </div>

    <div class="modal fade modal-lg" id="addFolderModal">
        <div class="modal-dialog">
            <form th:action="@{'/add-folder'}" method="post" class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">ADD NEW FOLDER</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <label class="form-label">FOLDER NAME:</label>
                    <input class="form-control" type="text" placeholder="Folder Name" name="name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                    <button type="submit" class="btn btn-success">ADD FOLDER</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>